<div class="col-md-12">
  <!-- 这里面的@group是具体的那一个 -->
  <h2><%=@group.title%></h2>
  <p><%=@group.description%></p>

  <table class="table table-striped table-hover table-bordered">
    <thead>
      <tr>
        <th>文章内容</th>
        <th>发布人</th>
        <th>发布时间</th>
      </tr>
    </thead>
    <tbody>
      <!-- #这里按照教程上的直接posts.each会报错 -->
      <!-- 意思是循环针对当前group下posts中的每一个，do 里面的动作（这里就是在列表中显示其几个字段值） -->
      <% @group.posts.each do |post| %>
      <tr>
        <td>
          <%=post.content%>
        </td>
        <td>
          <%=post.user.email%>
        </td>
        <td>
          <%=post.created_at%>
        </td>
      </tr>
      <%end%>
    </tbody>
  </table>

  <div class="col-md-1">
    <%if current_user %>
    <%# #对应访问controller中的new action,对应的url无需配置，按约定生成—— %>
      <%=link_to("发布文章",new_group_post_path(@group),class:"btn btn-primary")%>
    <%end%>
  </div>
  <div class="col-md-1">
    <%if current_user&&current_user==@group.user %>
    <%# #对应访问controller中的edit action,对应的url无需配置，按约定生成—— %>
    	<%=link_to("编辑版块",edit_group_path(@group),class:"btn btn-default")%>
    <%end%>
  </div>
  <div class="col-md-1">
    <%=link_to("返回",groups_path,class:"btn btn-default")%>
  </div>

</div>
